In [17]:
import pandas as pd

In [18]:
import ast

In [22]:
# Loading the scraped data set
df = pd.read_csv('../data/data_set_v1.csv')

In [23]:
# Checking general information related to the loaded dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110 entries, 0 to 109
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         110 non-null    object
 1   User Reviews  110 non-null    object
dtypes: object(2)
memory usage: 1.8+ KB

In [24]:
# could use an in-depth description if we have duplicates
df.describe()

               Title                                       User Reviews
count            110                                                110
unique            87                                                105
top     Interstellar  ['Just wow', 'Ah yes. My first existential cri...
freq               3                                                  2

In [25]:
# As a matter of fact we have duplicates and am going to remove them in place
df.drop_duplicates('Title',inplace=True)

In [26]:
# Can we get a second hand description of the dataframe now that we removed duplicates
df.describe()

         Title                                       User Reviews
count       87                                                 87
unique      87                                                 87
top     Fast X  ['Excruciatingly Awful', 'What Happened?', 'Th...
freq         1                                                  1

In [27]:
# Now we do an info check to seee if reviews rows match title rows
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 87 entries, 0 to 109
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Title         87 non-null     object
 1   User Reviews  87 non-null     object
dtypes: object(2)
memory usage: 2.0+ KB

In [28]:
# Casting user reviews to python lists from string in order to achieve aspect level design
user_reviews_data = df['User Reviews'].apply(ast.literal_eval).explode().to_list()

In [29]:
df = pd.DataFrame(user_reviews_data, columns=['User Reviews'])
df.to_csv('../data/data_set_v2.csv', index=False)