In [1]:
import pandas as pd

In [2]:
import nltk
nltk.download('punkt')
nltk.download("averaged_perceptron_tagger")

[nltk_data] Downloading package punkt to /home/hilario/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /home/hilario/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [3]:
from nltk import pos_tag

In [4]:
#Loading the labelled data set 
df = pd.read_pickle('../data/labelled_data.pkl')

In [5]:
df.head()

                    Stemmed User Reviews  Labels
0                   [excruciatingli, aw]      -1
1                             [happen, ]       0
2                    [worst, one, yet, ]      -1
3                              [fast, x]       0
4  [liter, thought, parodi, skit, snl, ]      -1

In [6]:
user_reviews = [review for review in df['Stemmed User Reviews']]

In [7]:
user_reviews[:5]

[['excruciatingli', 'aw'],
 ['happen', ''],
 ['worst', 'one', 'yet', ''],
 ['fast', 'x'],
 ['liter', 'thought', 'parodi', 'skit', 'snl', '']]

In [8]:
filtered_reviews = [[word for word in review if isinstance(word, str) and word] for review in user_reviews]

In [9]:
tagged_data = [pos_tag(review) for review in filtered_reviews]

In [10]:
tagged_data[:10]

[[('excruciatingli', 'NN'), ('aw', 'NN')],
 [('happen', 'VB')],
 [('worst', 'JJS'), ('one', 'CD'), ('yet', 'RB')],
 [('fast', 'RB'), ('x', 'NN')],
 [('liter', 'NN'),
  ('thought', 'VBD'),
  ('parodi', 'RB'),
  ('skit', 'JJ'),
  ('snl', 'NN')],
 [('need', 'NN'), ('stop', 'VB')],
 [('comic', 'JJ'), ('bad', 'JJ')],
 [('aveng', 'JJ'),
  ('meet', 'NN'),
  ('fast', 'JJ'),
  ('furiou', 'NN'),
  ('everyth', 'NN'),
  ('goe', 'NN'),
  ('wrong', 'JJ')],
 [('toretto', 'JJ'),
  ('start', 'NN'),
  ('play', 'NN'),
  ('rocket', 'NN'),
  ('leagu', 'NN'),
  ('middl', 'NN'),
  ('itali', 'NN')],
 [('jason', 'NN'),
  ('momoa', 'RBS'),
  ('give', 'VB'),
  ('one', 'CD'),
  ('embarrass', 'NN'),
  ('perform', 'NN'),
  ('film', 'NN'),
  ('histori', 'NN')]]

In [11]:
df['Stemmed User Reviews'] = tagged_data

In [12]:
df.head()

                                Stemmed User Reviews  Labels
0                   [(excruciatingli, NN), (aw, NN)]      -1
1                                     [(happen, VB)]       0
2               [(worst, JJS), (one, CD), (yet, RB)]      -1
3                              [(fast, RB), (x, NN)]       0
4  [(liter, NN), (thought, VBD), (parodi, RB), (s...      -1

In [13]:
df.to_csv('../data/final_set.csv', index=False)
df.to_pickle('../data/final_set.pkl')